<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SmolLM Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    <script>
        const loadingGif = "{{ url_for('static', filename = 'images/loading.gif') }}"
        let loadingAnswer = false
        $(document).ready(function () {
            // When the 'send' button is clicked
            $('#send-prompt').click(function () {
                if (loadingAnswer) {
                    return
                }
                loadingAnswer = true
                $('#response').html('<img src="'+ loadingGif +'" />')
                $('#send-prompt').addClass('disabled')
                $('#user-prompt').addClass('disabled')
                $('#send-prompt').html('Loading some answers...')
                let prompt = $('#user-prompt').val()
                $('#user-prompt').val('')
                $('#response').removeClass('text-danger')
                if (prompt.length === 0) {
                    $('#response').html('Please provide a prompt...')
                    $('#response').addClass('text-danger')
                    $('#send-prompt').removeClass('disabled')
                    $('#user-prompt').removeClass('disabled')
                    $('#send-prompt').html('Send')
                    loadingAnswer = false
                    return
                }
                $.ajax({
                    url: '/api/data',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ prompt: prompt }), // Send the prompt as JSON
                    success: function (data) {
                        $('#send-prompt').removeClass('disabled')
                        $('#user-prompt').removeClass('disabled')
                        $('#send-prompt').html('Send')
                        $('#response').html(data.response) // Display the response from the API
                        loadingAnswer = false
                    }
                })
            })
            // Capture the enter key on the input
            $('#user-prompt').on('keydown', function (event) {
                if (event.key === "Enter") {
                    $('#send-prompt').click()
                }
            });
        })
    </script>
    <style>
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
        }
        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        html, body {
            height: 100%;
        }
        #response {
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">SmolLM Example (KhantKyaw/T5-small_new_chatbot)</h1>
        <div class="main text-center">
            <div id="response" class="mb-3"></div>
            <input type="text" id="user-prompt" class="form-control mb-3"" placeholder="Enter your prompt here..." value="What is the square root of 25?">
            <button id="send-prompt" type="button" class="btn btn-lg btn-success mb-3"">Send</button>
        </div>
    </div>
</body>

</html>